<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href="#!/item_search" class="navbar-brand">POE TRADER</a>
        </div>
        <div class="nav navbar-nav">
            <li><a href="https://www.pathofexile.com/">about</a></li>
            <li><a href="https://www.pathofexile.com/support">contact</a></li>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Menu <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!/history" ng-click="vm.history()">Your History</a></li>
                    <li><a href="#!/update_info">Update info</a></li>
                    <li><a href="#!/currency_search">Currency</a></li>
                </ul>
            </li>
            <li><a ng-click="vm.logout()">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>POE TRADER</h1>
        <p>Currency market</p>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col col-lg-12">
            <div class="row form-choose-action">
                <div class="col col-lg-4">
                    <ul class="button-group">
                        <li><a href="#!/currency_search" class=" button tiny secondary">Currency search</a></li>
                        <li><a href="#!/currency_post" class="active button tiny secondary">Currency post</a></li>
                        <li><p class=" button tiny secondary" ng-click="vm.my_post()">My post</p></li>
                    </ul>
                </div>
                <hr>
            </div>

            <form class="custom" id="import" ng-submit="vm.post()" role="form">
                <div class="row">
                    <div class="col col-lg-4">
                            <h5>Choose League</h5>
                            <select id="league" name="league" data-customforms="disabled"
                                class="league chosen" ng-model="vm.cup.league" ng-init="vm.cup.league='Legacy'"
                                ng-options="x for x in vm.list1">
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-4">
                        <h5>Your ID in game:</h5>
                         <label for="gameid"><input type="text" name="gameid" id="gameid" class="form-control" ng-model="vm.cup.user_name"
                               required/></label>
                        <h5>Currency you have:</h5>
                        <label for="have">Currency: <input type="text" name="have" id="have" class="form-control" ng-model="vm.cup.c1_item"
                               required/></label>
                        <label for="price1">Amount: <input type="text" name="price1" id="price1" class="form-control" ng-model="vm.cup.c1_number"
                               required/></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-4"">
                        <h5>Currency you want:</h5>
                         <label for="want">Currency: <input type="text" name="want" id="want" class="form-control" ng-model="vm.cup.c2_item"
                               required/></label>
                        <label for="price2">Amount: <input type="text" name="price2" id="price2" class="form-control" ng-model="vm.cup.c2_number"
                               required/></label>
                    </div>
                </div>

                <div class="row">
                    <hr>
                    <div class="large-12 columns">
                        <div class="large-2 columns"><p class="button tiny secondary" ng-click="vm.reloadRoute()">Reset</p>
                        </div>
                        <div class="large-2 large-offset-8 columns">
                            <input type="submit" class="search button" value="Post!">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>