<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href="#!/item_search" class="navbar-brand">POE TRADER</a>
        </div>
        <div class="nav navbar-nav">
            <li><a href="https://www.pathofexile.com/">about</a></li>
            <li><a href="https://www.pathofexile.com/support">contact</a></li>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Menu <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!/history" ng-click="vm.history()">Your History</a></li>
                    <li><a href="#!/update_info">Update info</a></li>
                    <li><a href="#!/currency_search">Currency</a></li>
                    <li ng-if="vm.isAdmin"><a href="#!/admanage">Manage</a></li>
                </ul>
            </li>
            <li><a ng-click="vm.logout()">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>POE TRADER</h1>
        <p>Currency market</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col col-lg-12">

            <div class="row form-choose-action">
                <div class="col col-lg-4">
                    <ul class="button-group">
                        <li><a href="#!/currency_search" class="active button tiny secondary">Currency search</a></li>
                        <li><a href="#!/currency_post" class=" button tiny secondary">Currency post</a></li>
                        <li><p class=" button tiny secondary" ng-click="vm.my_post()">My post</p></li>
                    </ul>
                </div>
                <hr>
            </div>

            <form class="custom" id="import" ng-submit="vm.search()" role="form">
                <div class="row">
                    <div class="col col-lg-4">
                        <h5>Choose League</h5>
                        <select id="league" name="league" data-customforms="disabled"
                                class="league chosen" ng-model="vm.cs.league" ng-init="vm.cs.league='Legacy'"
                                ng-options="x for x in vm.list1">
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-4">
                        <h5>What Currency do you want?</h5>
                        <select name="buyout_currency" data-customforms="disabled"
                                class="chosen" ng-model="vm.cs.c1_item" ng-init="vm.cs.c1_item='Select'"
                                ng-options="x for x in vm.list4">
                        </select>

                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-4">
                        <h5>What Currency do you have?</h5>
                        <select name="buyout_currency" data-customforms="disabled"
                                class="chosen" ng-model="vm.cs.c2_item" ng-init="vm.cs.c2_item='Select'"
                                ng-options="x for x in vm.list4">
                        </select>
                    </div>
                </div>

                <div class="row">
                    <hr>
                    <div class="large-12 columns">
                        <div class="large-2 columns"><p class="button tiny secondary" accesskey="r"
                                                        ng-click="vm.reloadRoute()">Reset</p></div>
                        <div class="large-2 large-offset-8 columns">
                            <input type="submit" class="search button" value="Search!">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>









