<div class="row">
    <div class="large-12 columns">
        <h3 class="title">
            Currency
            market&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span class="backtopoetrade"><a href="#!/item_search">Go back to item trades</a></span>
        </h3>
    </div>
    <hr class="smallhr">
</div>
<div class="row" id="contentstart">
    <div class="large-12 columns" style="margin-bottom: 0.5em">
        <div style="height: 90px">

        </div>
    </div>
    <hr class="smallhr">
</div>

<div id="content">

    <div class="row">
        <div class="large-12 column">
            <div class="row form-choose-action">
                <div class="large-12 columns">
                    <ul class="button-group">
                        <li><a href="#!/currency_search" class=" button tiny secondary">Currency search</a></li>
                        <li><a href="#!/currency_post" class="active button tiny secondary">Currency post</a></li>
                        <li><p class=" button tiny secondary" ng-click="vm.my_post()">My post</p></li>
                    </ul>
                </div>
                <hr>
            </div>

            <form class="custom" id="import" ng-submit="vm.post()" role="form">
                 <div class="row">
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-1 columns">
                            <label class="right inline" for="league">League</label>
                        </div>
                        <div class="large-3 columns">
                            <select id="league" data-customforms="disabled" class="league chosen">

                                <option value="Legacy">Legacy</option>

                                <option value="Hardcore Legacy">Hardcore Legacy</option>

                                <option value="Standard">Standard</option>

                                <option value="Hardcore">Hardcore</option>

                            </select>
                        </div>

                        <div class="large-4 columns"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="large-6 columns">
                         <label for="gameid">Your ID in game: <input type="text" name="gameid" id="gameid" class="form-control" ng-model="vm.gameid"
                               required/></label>
                        <h5>What do you have?</h5>
                        <label for="have">Currency: <input type="text" name="have" id="have" class="form-control" ng-model="vm.have"
                               required/></label>
                        <label for="price1">Amount: <input type="text" name="price1" id="price1" class="form-control" ng-model="vm.price1"
                               required/></label>
                    </div>
                </div>

                <div class="row">
                    <div class="large-6 columns">
                        <h5>What do you want?</h5>
                         <label for="want">Currency: <input type="text" name="want" id="want" class="form-control" ng-model="vm.want"
                               required/></label>
                        <label for="price2">Amount: <input type="text" name="price2" id="price2" class="form-control" ng-model="vm.price2"
                               required/></label>
                    </div>
                </div>

                <div class="row">
                    <hr>
                    <div class="large-12 columns">
                        <div class="large-2 columns"><p class="button tiny secondary" ng-click="vm.reloadRoute()">Reset</p>
                        </div>
                        <div class="large-2 large-offset-8 columns">
                            <input type="submit" class="search button" value="Post!">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>