<div class="row">
    <div class="large-12 columns">
        <h3 class="title">
            Currency market&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span class="backtopoetrade"><a href="#!/item_search">Go back to item trades</a></span>
        </h3>
    </div>
    <hr class="smallhr">
</div>
<div class="row" id="contentstart">
    <div class="large-12 columns" style="margin-bottom: 0.5em">
        <div style="height: 90px">

        </div>
    </div>
    <hr class="smallhr">
</div>

<div id="content">

    <div class="row">
        <div class="large-12 column">
            <div class="row form-choose-action">
                <div class="large-12 columns">
                    <ul class="button-group">
                       <li><a href="#!/currency_search" class="active button tiny secondary">Currency search</a></li>
                        <li><a href="#!/currency_post" class=" button tiny secondary">Currency post</a></li>
                        <li><p class=" button tiny secondary" ng-click="vm.my_post()">My post</p></li>
                    </ul>
                </div>
                <hr>
            </div>

                <form class="custom" id="import" ng-submit="vm.search()" role="form">
                     <div class="row">
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-1 columns">
                            <label class="right inline" for="league">League</label>
                        </div>
                        <div class="large-3 columns">
                            <select id="league" data-customforms="disabled" class="league chosen">

                                <option value="Legacy">Legacy</option>

                                <option value="Hardcore Legacy">Hardcore Legacy</option>

                                <option value="Standard">Standard</option>

                                <option value="Hardcore">Hardcore</option>

                            </select>
                        </div>

                            <div class="large-4 columns"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-6 columns">
                            <h5>What do you want?</h5>
                              <label for="want1">Currency: <input type="text" name="want" id="want1" class="form-control" ng-model="vm.want"
                               required/></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-6 columns">
                            <h5>What do you have?</h5>
                             <label for="have1">Currency: <input type="text" name="have" id="have1" class="form-control" ng-model="vm.have"
                               required/></label>
                        </div>
                    </div>

                    <div class="row">
                        <hr>
                        <div class="large-12 columns">
                            <div class="large-2 columns"><p class="button tiny secondary" accesskey="r" ng-click="vm.reloadRoute()">Reset</p></div>
                            <div class="large-2 large-offset-8 columns">
                                <input type="submit" class="search button" value="Search!">
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>


</div>