<div align="center" class="row">
    <div class="large-12 columns">
        <h2>Manage your own post</h2>
        <div class="large-6 columns">
            <label for="id1">PostID: <input type="text" name="have" id="id1" class="form-control"
                                            ng-model="vm.tid"
                                            required/>
                <!--<button class="search button" ng-click="vm.update()">Update</button>-->
            </label>

            <table class="dataintable" style="">
                <tr>
                    <th>Have</th>
                    <th>Want</th>
                    <th>Amount(have)</th>
                    <th>Amount(want)</th>
                </tr>
                <tr>
                    <td><input ng-model="vm.updater.c1_item"></td>
                    <td><input ng-model="vm.updater.c2_item"></td>
                    <td><input ng-model="vm.updater.c1_number"></td>
                    <td><input ng-model="vm.updater.c2_number"></td>
                </tr>
            </table>
            <button class="search button" ng-click="vm.update()">Update</button>
        </div>


        <div class="large-6 columns">
            <label for="id2">PostID: <input type="text" name="have" id="id2" class="form-control" ng-model="vm.deleteid"
                                            required/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button class="search button" ng-click="vm.Delete()">Delete</button>
            </label>
        </div>

    </div>
</div>