<div class="row">
    <div class="large-12 columns">
        <h2>Manage your own post</h2>
        <div class="large-6 columns">
            <label for="id1">PostID: <input type="text" name="have" id="id1" class="form-control" ng-model="vm.postid_u"
                                            required/>
                <button class="search button" ng-click="vm.update()">Update</button>
            </label>
        </div>

        <table class="dataintable" style="">
            <tr>
                <th>Have</th>
                <th>Want</th>
                <th>Amount(have)</th>
                <th>Amount(want)</th>
            </tr>
            <tr>
                <td><input ng-model="vm.have"></td>
                <td><input ng-model="vm.want"></td>
                <td><input ng-model="vm.price1"></td>
                <td><input ng-model="vm.price2"></td>
            </tr>
        </table>

        <div class="large-6 columns">
            <label for="id2">PostID: <input type="text" name="have" id="id2" class="form-control" ng-model="vm.postid_d"
                                            required/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button class="search button" ng-click="vm.Delete()">Delete</button>
            </label>
        </div>

    </div>
</div>