<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href="#!/item_search" class="navbar-brand">POE TRADER</a>
        </div>
        <div class="nav navbar-nav">
            <li><a href="https://www.pathofexile.com/">about</a></li>
            <li><a href="https://www.pathofexile.com/support">contact</a></li>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Menu <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!/history" ng-click="vm.history()">Your History</a></li>
                    <li><a href="#!/update_info">Update info</a></li>
                    <li><a href="#!/currency_search">Currency</a></li>
                    <li ng-if="vm.isAdmin"><a href="#!/admanage">Manage</a></li>
                </ul>
            </li>
            <li><a ng-click="vm.logout()">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>POE TRADER</h1>
        <p>Currency market</p>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="large-12 column">
            <div class="row form-choose-action">
                <div class="large-12 columns">
                    <ul class="button-group">
                        <li><a href="#!/currency_search" class=" button tiny secondary">Currency search</a></li>
                        <li><a href="#!/currency_post" class=" button tiny secondary">Currency post</a></li>
                        <li><a href="#!/my_post" class="active button tiny secondary">My post</a></li>
                    </ul>
                </div>
                <hr>
            </div>

            <div class="large-12 column">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Name in poe</th>
                        <th>Have</th>
                        <th>Amount(have)</th>
                        <th>Want</th>
                        <th>Amount(want)</th>
                        <th>Time</th>
                        <th>League</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in myposts">
                        <td>{{item.name}}</td>
                        <td>{{item.c1_item}}</td>
                        <td>{{item.c1_number}}</td>
                        <td>{{item.c2_item}}</td>
                        <td>{{item.c2_number}}</td>
                        <td>{{item.time}}</td>
                        <td>{{item.league}}</td>
                        <td>
                            <button ng-click="vm.update1($index)">Update</button>
                        </td>
                        <td>
                            <button ng-click="vm.Delete($index)">Remove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="col-lg-5" ng-hide="vm.pre">
                    <form name="form" ng-submit="vm.update()" role="form">

                        <div class="form-group">
                            <label>In-</label>
                            <input class="form-control" ng-model="vm.updater.user_name"/>
                        </div>

                        <div class="form-group">
                            <label>Have</label>
                            <input class="form-control" ng-model="vm.updater.c1_item"/>
                        </div>


                        <div class="form-group">
                            <label>Amount(have)</label>
                            <input class="form-control" ng-model="vm.updater.c1_number"/>
                        </div>

                        <div class="form-group">
                            <label>Want</label>
                            <input class="form-control" ng-model="vm.updater.c2_item"/>
                        </div>

                        <div class="form-group">
                            <label>Amount(want)</label>
                            <input class="form-control" ng-model="vm.updater.c2_number"/>
                        </div>

                        <div class="form-group">
                            <label>League</label>
                            <input class="form-control" ng-model="vm.updater.league"/>
                        </div>

                        <div class="form-actions">
                            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary"
                                    style="float: middle;">Update
                            </button>
                            <img ng-if="vm.dataLoading"
                                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>