<div class="row">
    <div class="large-12 columns">
        <h3 class="title">
            Currency
            market&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span class="backtopoetrade"><a href="#!/item_search">Go back to item trades</a></span>
        </h3>
    </div>
    <hr class="smallhr">
</div>

<div id="content">

    <div class="row">
        <div class="large-12 column">
            <div class="row form-choose-action">
                <div class="large-12 columns">
                    <ul class="button-group">
                        <li><a href="#!/currency_search" class="active button tiny secondary">Currency search</a></li>
                        <li><a href="#!/currency_post" class=" button tiny secondary">Currency post</a></li>
                        <li><a href="#!/my_post" class=" button tiny secondary">My post</a></li>
                    </ul>
                </div>
                <hr>
            </div>

            <table class="dataintable" style="">
                <caption>My Post</caption>
                <tr>
                    <th>Have</th>
                    <th>Want</th>
                    <th>Amount(have)</th>
                    <th>Amount(want)</th>
                </tr>
                <tr ng-repeat="item in vm.posts">
                    <td>{{item.have}}</td>
                    <td>{{item.want}}</td>
                    <td>{{item.price1}</td>
                    <!--<td><input ng-model="item.quantity"></td>-->
                    <td>{{item.price2}}</td>
                </tr>
            </table>

            <div Style="float:left;width:100px;"><p><a href="#!/manage_post" class="btn btn-primary">Manage</a></p></div>

            <!--<script>-->
            <!--$("body").on("click", ".currency-selectable", function () {-->
            <!--var o = $(this);-->
            <!--if (o.hasClass("currency-selected")) {-->
            <!--o.removeClass("currency-selected");-->
            <!--} else {-->
            <!--o.addClass("currency-selected");-->
            <!--}-->
            <!--});-->
            <!--function selected_currency(selector) {-->
            <!--var result = "";-->
            <!--$(selector + " .currency-selected").each(function (i, e) {-->
            <!--result += $(e).data("id") + "-";-->
            <!--});-->
            <!--return result.slice(0, -1);-->
            <!--}-->
            <!--$("#search").submit(function () {-->
            <!--$("#currency-want-input").val(selected_currency("#currency-want"));-->
            <!--$("#currency-have-input").val(selected_currency("#currency-have"));-->
            <!--$.cookie("league", $("#search .league").val(), {expires: 10000});-->
            <!--return true;-->
            <!--});-->


            <!--var league = $("#search .league");-->
            <!--var options = $('#search .league option');-->
            <!--var values = $.map(options, function (option) {-->
            <!--return option.value;-->
            <!--});-->
            <!--if ($.inArray($.cookie("league"), values) != -1) {-->
            <!--league.val($.cookie("league"));-->
            <!--league.trigger("chosen:updated");-->
            <!--}-->

            <!--</script>-->
        </div>
    </div>

</div>