<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href="#!/item_search" class="navbar-brand">POE TRADER</a>
        </div>
        <div class="nav navbar-nav">
           <li><a href="https://www.pathofexile.com/">about</a></li>
            <li><a href="https://www.pathofexile.com/support">contact</a></li>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Menu <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!/history" ng-click="vm.history()">Your History</a></li>
                    <li><a href="#!/update_info">Update info</a></li>
                    <li><a href="#!/currency_search">Currency</a></li>
                    <li ng-if="vm.isAdmin"><a href="#!/admanage">Manage</a></li>
                </ul>
            </li>
            <li><a ng-click="vm.logout()">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Search result</h1>
        <p class="lead">Here is what you are looking for.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-hover">
                <tbody>
                <tr style="height:220px" ng-repeat="item in itemsresultlog">
                    <td style="text-align:center;vertical-align:middle;"><img src={{item.icon}}></td>
                    <td width="400"><b style="color:purple">Name: {{item.name}}</b><br>
                        
                        <b style="color:red">Currency: <img style="width:30px;height:30px;" src={{item.Price.icon}}>&nbsp&nbsp&nbsp&nbsp Price: {{item.Price.Number}}</b><br>
                        <b style="color:gold">Mods: </b><br>
                        <div ng-repeat="it in item.Mods.Original">
                            <b style="color:green">{{it}}</b><br>
                        </div>
                    </td>

                    <td>
                    	<table class="table table-bordered">
                    		<tr>
                    			<th align="middle">Quality</th>
                    			<th align="middle">Level</th>
                    			<th align="middle">Ilvl</th>
                    			<th align="middle">APS</th>
                    			<th align="middle">DPS</th>
                    			<th align="middle">eDPS</th>
                    		</tr>

                    		<tr>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.properties.Quality}}</td>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.properties.Level}}</td>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.ilvl}}</td>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.properties['Attacks per Second']}}</td>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.properties['Physical Damage']}}</td>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.properties['Elemental Damage']}}</td>
                    		</tr>

                    		<tr>
                    			<th align="middle">Armour</th>
                    			<th align="middle">Evasion</th>
                    			<th align="middle">Shield</th>
                    			<th align="middle">Block</th>
                    			<th align="middle">Crit</th>
                    			<th align="middle">Owner</th>
                    		</tr>

                    		<tr>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.properties.Armour}}</td>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.properties['Evasion Rating']}}</td>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.properties['Energy Shield']}}</td>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.properties['Chance to Block']}}</td>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.properties['Critical Strike Chance']}}</td>
                    			<td style="color:blue" align="middle" style="vertical-align:middle" height="30">{{item.owner}}</td>
                    		</tr>

                    		<tr>
                    			<th rowspan="2" align="middle" style="vertical-align:middle">Requirement</th>
                    			<th>Level</th>
                    			<th>Strength</th>
                    			<th>Intelligence</th>
                    			<th>Dexterity</th>
                    		</tr>
                    		<tr>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.properties.Level}}</td>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.requirements.Str}}</td>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.requirements.Int}}</td>
                    			<td align="middle" style="vertical-align:middle" height="30">{{item.requirements.Dex}}</td>

                    			 
                    		</tr>



                    	</table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




