<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href="#!/item_search" class="navbar-brand">POE TRADER</a>
        </div>
        <div class="nav navbar-nav">
           <li><a href="https://www.pathofexile.com/">about</a></li>
            <li><a href="https://www.pathofexile.com/support">contact</a></li>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Menu <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!/history" ng-click="vm.history()">Your History</a></li>
                    <li><a href="#!/update_info">Update info</a></li>
                    <li><a href="#!/currency_search">Currency</a></li>
                    <li ng-if="vm.isAdmin"><a href="#!/admanage">Manage</a></li>
                </ul>
            </li>
            <li><a ng-click="vm.logout()">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Search result</h1>
        <p class="lead">Here is what you are looking for.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-hover">
                <tbody>
                <tr style="height:220px" ng-repeat="item in itemsresultlog">
                    <td><img src={{item.icon}}></td>
                    <td><b>Name: {{item.name}}</b><br>
                        <b>Level: {{item.properties.Level}}&nbsp&nbsp Strength: {{item.requirements.Str}}</b><br>
                        <b>Int: {{item.requirements.Int}}&nbsp&nbsp Ilvl: {{item.ilvl}}</b><br>
                        <b>Currency: {{item.Price.Currency}}&nbsp&nbsp Price: {{item.Price.Number}}</b><br>
                        <b>Mods: </b><br>
                        <div ng-repeat="it in item.explicitMods track by $index">
                            <b>{{it}}</b><br>
                        </div>
                    </td>
                    <td align="middle" style="vertical-align:middle">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Quality</th>
                            </tr>
                            <tr>
                                <td align="middle" style="vertical-align:middle" height="30">{{item.properties.Quality}}</td>
                            </tr>
                            <tr>
                                <th>Armour</th>
                            </tr>
                            <tr>
                                <td align="middle" style="vertical-align:middle" height="30">{{item.properties.Armour}}</td>
                            </tr>
                        </table>
                    </td>
                    <td align="middle" style="vertical-align:middle">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Phys</th>
                            </tr>
                            <tr>
                                <td align="middle" style="vertical-align:middle" height="30">{{item.properties['Physical Damage']}}
                                </td>
                            </tr>
                            <tr>
                                <th>Evasion</th>
                            </tr>
                            <tr>
                                <td align="middle" style="vertical-align:middle" height="30"></td>
                            </tr>
                        </table>
                    </td>
                    <td align="middle" style="vertical-align:middle">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Elem</th>
                            </tr>
                            <tr>
                                <td align="middle" style="vertical-align:middle" height="30">{{item.properties['Elemental Damage']}}
                                </td>
                            </tr>
                            <tr>
                                <th>Shield</th>
                            </tr>
                            <tr>
                                <td align="middle" style="vertical-align:middle" height="30">{{item.properties['Energy Shield']}}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="middle" style="vertical-align:middle">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>APS</th>
                            </tr>
                            <tr>
                                <td align="middle" style="vertical-align:middle" height="30">{{item.properties['Attacks per Second']}}
                                </td>
                            </tr>
                            <tr>
                                <th>Block</th>
                            </tr>
                            <tr>
                                <td align="middle" style="vertical-align:middle" height="30">{{item.properties['Chance to Block']}}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="middle" style="vertical-align:middle">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>DPS</th>
                            </tr>
                            <tr>
                                <td align="middle" style="vertical-align:middle" height="30">{{item.properties['Damage Effectiveness']}}
                                </td>
                            </tr>
                            <tr>
                                <th>Crit</th>
                            </tr>
                            <tr>
                                <td align="middle" style="vertical-align:middle" height="30">{{item.properties['Critical Strike Chance']}}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="middle" style="vertical-align:middle">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>pDPS</th>
                            </tr>
                            <tr>
                                <td align="middle" style="vertical-align:middle" height="30"></td>
                            </tr>
                            <tr>
                                <th>Level</th>
                            </tr>
                            <tr>
                                <td align="middle" style="vertical-align:middle" height="30">{{item.properties.Level}}</td>
                            </tr>
                        </table>
                    </td>
                    <td align="middle" style="vertical-align:middle">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>eDPS</th>
                            </tr>
                            <tr>
                                <td align="middle" style="vertical-align:middle" height="30"></td>
                            </tr>
                            <tr>
                                <th>Owner</th>
                            </tr>
                            <tr>
                                <td align="middle" style="vertical-align:middle" height="30">{{item.owner}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

