<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
      <h1>Registration</h1>
      <form action="" method="post" name="login">
          {{ form.hidden_tag() }}
          <p>
              Please enter your username:<br>
              {{ form.username(size=40) }}<br>
          </p>
          <p>
              Please enter your Email:<br>
              {{ form.email(size=40) }}<br>
          </p>
          <p>
              Please enter your Password:<br>
              {{ form.password(size=40) }}<br>
          </p>

          <p>
              Please enter your Password again:<br>
              {{ form.confirm(size=40) }}<br>
          </p>


          <p>{{ form.accept_tos }} I accept the Term of Services</p>
          <p><input type="submit" value="Sign In"></p>
      </form>
  </body>
</html>
