<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href="#!/item_search" class="navbar-brand">POE TRADER</a>
        </div>
        <div class="nav navbar-nav">
            <li><a href="https://www.pathofexile.com/">about</a></li>
            <li><a href="https://www.pathofexile.com/support">contact</a></li>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Menu <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!/history" ng-click="vm.history()">Your History</a></li>
                    <li><a href="#!/update_info">Update info</a></li>
                    <li><a href="#!/currency_search">Currency</a></li>
                    <li ng-if="vm.isAdmin"><a href="#!/admanage">Manage</a></li>
                </ul>
            </li>
            <li><a ng-click="vm.logout()">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>POE TRADER</h1>
        <p>User Management</p>
    </div>
</div>

<div class="container">
    <div class="row">
    <div class="col-lg-12">

        <div class="row">
            <div class="col-lg-8">
                <p><button class="btn btn-info" ng-click="vm.get()">Get All User</button></p>
                <table class="table table-bordered table-hover">
            <tr ng-hide="vm.present">
                <th>Email</th>
                <th>ID</th>
                <th>Name</th>
                <th>Password hash</th>
            </tr>
            <tr ng-repeat="item in vm.users">
                <td>{{item.email}}</td>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.password_hash}}</td>
            </tr>
        </table>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4">
                <label for="id1">Delete user: <input type="text" name="have" id="id1" class="form-control" ng-model="vm.deletename"/>
                <button class="btn btn-danger" ng-click="vm.Deleteuser()">Delete</button>
                </label>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4">
            <hr>
            <form name="form" ng-submit="vm.createuser()" role="form">

                <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" ng-model="vm.user.email"/>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.name"/>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control"
                           ng-model="vm.user.password"/>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Confirm Password</label>
                    <input type="password" name="confirmpassword" id="confirmpassword" class="form-control"
                           ng-model="vm.user.confirm_password" ng-init="vm.user.accept_tos=true"/>
                </div>

                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Create
                    </button>
                    <img ng-if="vm.dataLoading"
                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </div>
            </form>
        </div>
        </div>



    </div>
</div>

</div>



