<div class="row">
    <div class="large-12 columns">
        <h2>Do whatever you want!</h2>
        <div class="large-6 columns">
            <label>Get all the users</label>
            <button class="search button" ng-click="vm.get()">Get</button>
        </div>

        <table class="dataintable" style="">
            <tr>
                <th>Email</th>
                <th>ID</th>
                <th>Name</th>
                <th>Password hash</th>
            </tr>
            <tr ng-repeat="item in vm.users">
                <td>{{item.email}}</td>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.password_hash}}</td>
            </tr>
        </table>

        <div class="large-6 columns">
            <label for="id1">Delete user: <input type="text" name="have" id="id1" class="form-control"
                                                 ng-model="vm.deletename"/>
                <button class="search button" ng-click="vm.Deleteuser()">Delete</button>
            </label>
        </div>

        <div class="col-sm-4 col-sm-offset-4">
            <form name="form" ng-submit="vm.createuser()" role="form">

                <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" ng-model="vm.user.email"/>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.name"/>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control"
                           ng-model="vm.user.password"/>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Confirm Password</label>
                    <input type="password" name="confirmpassword" id="confirmpassword" class="form-control"
                           ng-model="vm.user.confirm_password"/>
                </div>

                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Create
                    </button>
                    <img ng-if="vm.dataLoading"
                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </div>
            </form>
        </div>

    </div>
</div>