<div class="row">
    <div class="large-12 columns">
        <h2>Do whatever you want!</h2>
        <div class="large-6 columns">
            <label>Get all the users</label>
            <button class="search button" ng-click="vm.get()">Get</button>
        </div>

        <table class="dataintable" style="">
            <tr>
                <th>Email</th>
                <th>ID</th>
                <th>Name</th>
                <th>Password hash</th>
            </tr>
            <tr ng-repeat="item in vm.users">
                <td>{{item.email}}</td>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.passwordhs}}</td>
            </tr>
        </table>

        <div class="large-6 columns">
            <label for="id1">Delete user: <input type="text" name="have" id="id1" class="form-control"
                                                 ng-model="vm.deleteid"
                                                 required/>
                <button class="search button" ng-click="vm.Deleteid()">Delete</button>
            </label>
        </div>

        <div class="large-6 columns">
            <label for="id1">Delete post: <input type="text" name="have" id="post" class="form-control"
                                                 ng-model="vm.deletepost"
                                                 required/>
                <button class="search button" ng-click="vm.Deletepost()">Delete</button>
            </label>
        </div>

    </div>
</div>